@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Ubuntu&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Varela+Round&display=swap');

body {
    background-color: rgb(250, 216, 215);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav p {
    color: white;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

nav {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
   
    color: white; 
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
   background: black;
    background-color: transparent;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.i {
  /* a */
}

