@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wgh@0,500;1,400&display=swap");

:root {
    --bg: white;
    --txt: black;
}

body {
    font-family: "Roboto", sans-serif;
}

.center {
    display: grid;
    place-items: center;
}

.head-style {
    display: grid;
    place-items: center;
    border: 1px;
    border-bottom-style: solid;
    border-color: #e2e8f0;
}

.svg-class {
    width: 200px;
    height: 85px; 
}

.center .cont {
    font-weight: bold;
}


a {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    border-color: #cbd5e0;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 12px;
    text-decoration: none;
    margin-bottom: 0.5rem;
    width: 400px;
    color: #757070;
}

.sign button {
    
    /*background-color:rgb(74, 172, 74);*/
    color: var(--text-base, #000000);
    border-radius: 500px;
    font-size: inherit;
    padding: 14px 32px;
    margin-right: -50px;  
    
}


/*p:nth-child(2){
    letter-spacing: 2px;
    font-size: 15px;
    
    border-style: solid;
}*/

a:nth-child(2) {
    background-color: rgb(59, 89, 152);
    color: white;
}

a:nth-child(3) {
    background-color: black;
    color: white;
}

.input-grid {
    display: grid;
}

.form-label {
    padding-bottom: 12px;
}

.input:nth-child(2) {
    margin-bottom: 15px;
}

.form-down {
    cursor: pointer;
    font-size: 15px;
    font-weight: lighter;
}

.form-down button {
    background-color: white 
    color: black;
    width: 435px;
    border-width: 1px;
    border-radius: 20px;
    padding: 12px;
    font-size: large;
    
}

.checkbox .input {
    background-color: rgb(74, 172, 74);
    color: white;
    margin-bottom: 1rem;
}
.footer {
    text-align: center;
}
.cSypyy {
    flex: 0.3 1 0%;
    align-self: center;
    text-align: center;
    line-height: 1px;
    font-weight: 700;
    background: rgb(255, 255, 255);
    text-transform: uppercase;
}

.VNztd {
    box-sizing: border-box;
    font-family: spotify-circular, Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
}

hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-block-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}