@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wgh@0,500;1,400&display=swap");

:root {
    --bg: white;
    --txt: black;
}

body {
    font-family: "Roboto", sans-serif;
}

.center {
    display: grid;
    place-items: center;
}

.head-style {
    display: grid;
    place-items: center;
    border: 1px;
    border-bottom-style: solid;
    border-color: #e2e8f0;
}